body,
p {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.main {
    background: url(../image/Background.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.main_opacity {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*************** CV-IMAGE and TEXT ***************/

.cv_text {
    float: right;
    height: 100%;
    width: 50%;
}

.cv_text p {
    display: block;
    width: 100%;
    height: 50%;
    font-size: 2vmin;
    color: white;
}

.cv_image {
    float: left;
    height: 100%;
    width: 50%;
    position: relative;
}

.img_pos {
    position: relative;
    width: 250px;
    height: 250px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

.img1,
.img2,
.img3,
.img4 {
    width: 200px;
    height: 250px;
    position: absolute;
}

.img1 {
    right: 150px;
    bottom: 50px;
    z-index: 1;
}

.img2 {
    right: 60px;
    bottom: 20px;
    z-index: 2;
}

.img3 {
    right: 100px;
    bottom: 90px;
    z-index: 3;
}

.img4 {
    right: 10px;
    bottom: 40px;
    z-index: 4;
}


/*************** CONTENT ***************/

.head_content {
    width: 85%;
    height: 60%;
    position: absolute;
}

.content {
    width: 100%;
}

.content1 {
    width: 100%;
    background: #eeeeee;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-content: center;
}

.content2,
.content3 {
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-content: center;
}


/*************** USER NUMBER Content1 ***************/

.number {
    display: inline-block;
    width: calc(100%/3);
    padding: 50px 0px;
    overflow: hidden;
}

.number div {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #1c97f3;
    color: #1c97f3;
    margin: 0 auto;
    background-color: white;
    display: table;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.number p {
    text-align: center;
    vertical-align: middle;
    display: block;
    color: #41a5f2;
}

.number div p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.number:hover div {
    border-radius: 50%;
    background-color: #1c97f3;
}

.number:hover div,
.number:hover div p,
.number:hover p {
    border-color: #f3af1c;
    color: #f3af1c;
}


/*************** USER IMAGE Content2 ***************/

.box1,
.box2 {
    display: inline-block;
    width: calc(100%/4);
    padding: 30px 0px;
    overflow: hidden;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid #efa11d;
    background-color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    display: block;
    margin: 0 auto;
}

.circle:hover {
    cursor: pointer;
    border: 3px solid dodgerblue;
}


/*************** BUTTON ***************/

.btn {
    width: 20vw;
    height: 10vh;
    background-color: #23af5f;
    border: 3px solid #23af5f;
    color: white;
    font-size: 3vmin;
    text-align: center;
    display: block;
    margin: 0 auto;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn:hover {
    background-color: white;
    color: black;
}