* {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .round {
        width: 150px;
        height: 150px;
        top: -75px;
    }
    .box img {
        width: 100px;
        height: 100px;
        padding: 20px 0px;
    }
    .circle {
        height: 150px;
        width: 150px;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .round {
        width: 150px;
        height: 150px;
        top: -75px;
    }
    .box img {
        width: 100px;
        height: 100px;
        padding: 20px 0px;
    }
    .circle {
        height: 150px;
        width: 150px;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .round {
        width: 100px;
        height: 100px;
        top: -50px;
    }
    .content1-left {
        text-align: center;
    }
    .box img {
        width: 50px;
        height: 50px;
    }
    .box {
        width: calc(200%/2);
    }
    .content3-item {
        width: calc(300%/3);
    }
    .circle {
        height: 100px;
        width: 100px;
    }
    header,
    .main-opacity,
    .main-bottom,
    .content1,
    .content2-box,
    .content2-text,
    .content3-text,
    .content3-padding,
    .content4-text,
    .main-form {
        font-size: 18px;
        line-height: 1.3rem;
        word-wrap: break-word;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .round {
        width: 100px;
        height: 100px;
        top: -50px;
    }
    .content1-left {
        text-align: center;
    }
    .box img {
        width: 50px;
        height: 50px;
    }
    .box {
        width: calc(200%/2);
    }
    .content3-item {
        width: calc(300%/3);
    }
    .circle {
        height: 100px;
        width: 100px;
    }
    header,
    .main-opacity,
    .main-bottom,
    .content1,
    .content2-box,
    .content2-text,
    .content3-text,
    .content3-padding,
    .content4-text,
    .main-form {
        font-size: 18px;
        line-height: 1.3rem;
        word-wrap: break-word;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .main-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-bottom-box {
        width: 90%;
    }
    .main-title-box {
        margin-top: -10%;
    }
    .round {
        width: 80px;
        height: 80px;
        top: -40px;
    }
    .content1-left {
        width: 90%;
        text-align: center;
    }
    .box {
        width: calc(200%/2);
    }
    .content3-item {
        width: calc(300%/3);
    }
    .box img {
        width: 30px;
        height: 30px;
    }
    .circle {
        height: 80px;
        width: 80px;
    }
    header,
    .main-opacity,
    .main-bottom,
    .content1,
    .content2-box,
    .content2-text,
    .content3-text,
    .content3-padding,
    .content4-text,
    .main-form {
        font-size: 18px;
        line-height: 1.2rem;
        word-wrap: break-word;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    li a {
        padding: 5px;
    }
    .main-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-bottom-box {
        width: 90%;
    }
    .main-title-box {
        margin-top: -10%;
    }
    .round {
        width: 50px;
        height: 50px;
        top: -25px;
    }
    .content1-left {
        width: 90%;
        text-align: center;
    }
    .box {
        width: calc(200%/2);
    }
    .content3-item {
        width: calc(300%/3);
    }
    .box img {
        width: 30px;
        height: 30px;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
    header,
    .main-opacity,
    .main-bottom,
    .content1,
    .content2-box,
    .content2-text,
    .content3-text,
    .content3-padding,
    .content4-text,
    .main-form {
        font-size: 16px;
        line-height: 1.2rem;
        word-wrap: break-word;
    }
}


/* 
    ##Screen = 320px to smaller resolution
  */

@media (max-width:320px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    li a {
        padding: 5px;
    }
    .main-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-bottom-box {
        width: 90%;
    }
    .main-title-box {
        margin-top: -10%;
    }
    .round {
        width: 50px;
        height: 50px;
        top: -25px;
    }
    .content1-left {
        width: 90%;
        text-align: center;
    }
    .box {
        width: calc(200%/2);
    }
    .content3-item {
        width: calc(300%/3);
    }
    .box img {
        width: 30px;
        height: 30px;
    }
    .circle {
        height: 50px;
        width: 50px;
    }
    header,
    .main-opacity,
    .main-bottom,
    .content1,
    .content2-box,
    .content2-text,
    .content3-text,
    .content3-padding,
    .content4-text,
    .main-form {
        font-size: 16px;
        line-height: 1.2rem;
        word-wrap: break-word;
    }
}